streamlit
langchain
langchain-openai
beautifulsoup4
python-dotenv
chromadb
llama-index
openai
pypdf
python-dotenv
langchain-community
langchain
einops
langchain-google-genai
transformers
accelerate
bitsandbytes
sentence_transformers
llama-index-core
llama-index-legacy 
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-agent-openai
llama-index-readers-file
llama-index-multi-modal-llms-openai
llama-index
llama-index-llms-huggingface
llama-index-embeddings-huggingface
langchain-core
streamlit
langchain-cli